{% extends 'base.html.twig' %}

{% block title %}Listagem de séries{% endblock %}

{% block body %}
<a href="{{ path('app_series_form') }}" class="btn btn-dark mb-3">Adicionar</a>

<ul class="list-group">
    {% for series in seriesList %}
        <li class="list-group-item">{{ series.name }}</li>
    {% endfor %}
</ul>
{% endblock %}
